certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
coverage==7.14.0
cramjam==2.11.0
grpcio==1.80.0
grpcio-tools==1.80.0
idna==3.16
iniconfig==2.3.0
kafka-python==2.3.1
numpy==2.4.6
packaging==26.2
pandas==3.0.3
pluggy==1.6.0
protobuf==6.33.6
psycopg2-binary==2.9.12
pyarrow==24.0.0
Pygments==2.20.0
pytest==9.0.3
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-snappy==0.7.3
PyYAML==6.0.3
requests==2.34.2
setuptools==82.0.1
six==1.17.0
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
